<footer class="p-5 bg-light justify-content-center border-bottom" >
    <div class="row">
      <div class="col-2">
        <img src="/assets/hollister-logo-bird.png" class="" width="200" height="100">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Brands</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hollister</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gilly Hicks</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Social Tourist</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Abercrombie $ Fitch</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Abercrombie Kids</a></li>

        </ul>
      </div>

      <div class="col-2">
        <h5>About Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Brand Protection</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">A&F Gives Back</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accessablity</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Diversity & Inclusion</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Press Room</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">California Disclosures</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Associate Affiliate Apllication</a></li>
        </ul>
      </div>


      <div class="col-2">
        <h5>Help</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Customer Help</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Club Cali</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Order Help</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Shipping & Handling</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Online Returns</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Track My Order</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cards & E-Cards</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Student Discounts</a></li>
        </ul>
      </div>
      

      <div class="col-2">
        <ul class="nav flex-column">
          <li class="nav-item m-3"><a href="#"  class="nav-link p-0 text-muted">Gift Cards</a></li>
          <li class="nav-item m-3"><a href="#" class="nav-link p-0 text-muted">Find a Store</a></li>
          <li class="nav-item m-3"><a href="#" class="nav-link p-0 text-muted">Feedback</a></li>
         
        </ul>
      </div>

      <div class="col-2 offset-1">
        <form>
          <h5>Subscribe</h5>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-outline-light text-dark" type="button">Join</button>
          </div>
        </form>
        <div>
            <h5>Trend With Us</h5>
            <p>See The Latest On Our Instagram Feed, And Connect With Us On Facebook, Twitter & More. </p>
        </div>
        <form class="d-flex m-3">
          
            <button class="btn btn-outline-light" type="submit">
              <svg class="bi" width="32" height="32" fill="black">
                <use xlink:href="./assets/bootstrap-icons.svg#facebook"/>
              </svg>
            </button>
            <button class="btn btn-outline-light" type="submit">
                <svg class="bi" width="32" height="32" fill="black">
                  <use xlink:href="./assets/bootstrap-icons.svg#twitter"/>
                </svg>
              </button>
              <button class="btn btn-outline-light" type="submit">
                <svg class="bi" width="32" height="32" fill="black">
                  <use xlink:href="./assets/bootstrap-icons.svg#pinterest"/>
                </svg>
              </button>
              <button class="btn btn-outline-light" type="submit">
                <svg class="bi" width="32" height="32" fill="black">
                  <use xlink:href="./assets/bootstrap-icons.svg#instagram"/>
                </svg>
              </button>
              <button class="btn btn-outline-light" type="submit">
                <svg class="bi" width="32" height="32" fill="black">
                  <use xlink:href="./assets/bootstrap-icons.svg#youtube"/>
                </svg>
              </button>
            
          </form>
      </div>
    </div>

    