<div class="">
    <div class="col">
      <div class="card">
        <img src={{img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">${{price}}</p>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card">
        <img src="/assets/Card2.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Seamed Curved-Hem T-Shirt</h5>
          <p class="card-text">$12</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/Card3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Logo Full-Zip Hoodie</h5>
          <p class="card-text">$24.98</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/Card4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">High Rise Black Jean Leggings</h5>
          <p class="card-text">$54.95</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="/assets/Card5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Long Sleeve Print Logo Graphic Tee</h5>
            <p class="card-text">$12.48</p>
        </div>
        </div>
      </div> -->
  </div>