<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <hollister-sidebar></hollister-sidebar>
    </div>
    <div class="col-8 d-flex">
      <div class="row">
        <div class="card col-4" *ngFor="let product of products.slice(0,3);">
          <hollister-cards img={{product.img}} name={{product.name}} [price]='product.price'>Loading...
          </hollister-cards>
        </div>
        <div class="card col-4" *ngFor="let product of products.slice(3,6);">
          <hollister-cards img={{product.img}} name={{product.name}} [price]='product.price'>Loading...
          </hollister-cards>
        </div>
        <div class="card col-4" *ngFor="let product of products.slice(0,3);">
          <hollister-cards img={{product.img}} name={{product.name}} [price]='product.price'>Loading...
          </hollister-cards>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>