<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="/assets/hollister.gif" alt="" width="140" height="50" routerLink="home">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="Girls" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Girls
            </a>
            <ul class="dropdown-menu" aria-labelledby="Girls">
              <li><a class="dropdown-item" href="#">new arrivals</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a routerLink="girls-tops" routerLinkActive="active" class="dropdown-item" href="#">tops</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">bottoms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="Guys" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Guys
            </a>
            <ul class="dropdown-menu" aria-labelledby="Guys">
              <li><a class="dropdown-item" href="#">new arrivals</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a routerLink="guys-tops" routerLinkActive="active" class="dropdown-item" href="#">tops</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="guys-bottoms" routerLinkActive="active" class="dropdown-item" href="#">bottoms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="Jeans" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jeans
            </a>
            <ul class="dropdown-menu" aria-labelledby="Jeans">
              <li><a class="dropdown-item" href="#">Straight & Dad Jenas</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#">Mom Jeans</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Boot & Flare</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="Sale" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sale
            </a>
            <ul class="dropdown-menu" aria-labelledby="Sale">
              <li><a class="dropdown-item" href="#">Up to 60% Off Select Styles</a></li>
              <li><hr class="dropdown-divider"></li>

              <li><a class="dropdown-item" href="#">Jeans But One, Get One 50% Off</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Clearance</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="BlackHistoryMonth" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Black History Month
            </a>
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="What We're About" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              What We're About
            </a>
            
          </li>
        </ul>

        <form class="d-flex">
          
          <button class="btn btn-outline-success" type="submit">
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="./assets/bootstrap-icons.svg#search"/>
            </svg>
          </button>
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="./assets/bootstrap-icons.svg#bag"/>
          </svg>
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="./assets/bootstrap-icons.svg#person"/>
          </svg>
          
        </form>
        
        
      </div>
    </div>
  </nav>